// Fonts
// @import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
// @import 'variables';

$primary: green;
$theme-colors: (
  "primary": $primary,
);
// Bootstrap
@import 'bootstrap';
@import 'admin-lte';

.list-group-item {
    background-color: $primary;
    color: white;
}

.list-group-item:hover {
    background-color: $primary !important;
}

.content-header {
    padding: 10px 0px;
}

.content-wrapper > .content {
    padding: 0px;
}
